/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url(variables.css);

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* ------------------------------------------------------------------- */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.first__module{
    background: var(--primary-color);
    width: 100%;
    /* border-style: solid; */
    /* border-color: var(--color-1); */
    /* border-width: 3px; */
    /* padding:% ; */
    /* z-index: ; */
}

body{
    background: var(--color-1);
    padding: 5px;

}




.header{
    background: var(--color-2);
    width: 100%;
    height: 5vh;
    /* border-style: solid, var(--color-1); */
    border-color: var(--color-2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-inline: 1.5%;

}

.header div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--color-1);
}

.header div span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-2);
    width: 31px;
    height: 31px;
    color: var(--color-1);
}


/* -------------------------main------------------------- */

.first__section{
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    padding-inline:5% ;
    
}

.first__section > h2{
    color: var(--color-1);
    font-size:2rem ;
    font-family: 'Poppins';
}

.first__section > div{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: #FFF;
    font-size:2rem ;
    font-family: 'Poppins';
}

.second__section{
    /* background-color: yellowgreen; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-block:2%;
    padding-inline: 10% ;
    gap: 5%;
    padding-block: 10%;

}

.second__section div:first-child{
    /* background: violet; */
    width: 750px;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap:7%;

}

.second__section div:first-child h1{
    color: var(--color-1);
    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-family: 'Poppins';
    
}

.second__section div:first-child div p{
    color: #FFFF;
    font-size: 2rem;
    font-family: 'Poppins';

}

.second__section div:first-child button{
    width: 160px;
    height: 35px;
    background-color:var(--color-1);
    border-style: solid;
    border-color:var(--color-1);
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #FFFF;
}

.second__section div:last-child{
    /* background: red; */
    width: 500px;
    height: 500px;
    
} 

.second__section div:last-child img{
    width: 100%;
    height: 100%;
}

/* --------------------------Second module---------------------------- */

.secon_module{
    background: var(--primary-color);
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10%;
    gap: 5%;
    
}

.secon_module div:last-child{
    /* background-color: red; */
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secon_module div:last-child p:first-child{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: var(--color-1);
}

.secon_module div:last-child > div{
    /* background: yellowgreen; */
    width: 95%;
    font-size: 2.5rem;
    font-family: 'Poppins';
    color: var(--color-3);
}


.secon_module div:last-child p:nth-child(3){
    color: var(--color-3);
    /* background: blue; */
    width: 80%;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight:200;
}

.secon_module div:last-child button{
    background-color: var(--color-1);
    color: var(--color-2);
    font-size: 1.5rem;
    border-style: none;
    width: 170px;
    height: 40px;
}

/* -----------------------------Third__module----------- */

.Third__module{
    background: var(--primary-color);
    width: 100%;
    margin-top: 5px;
}

.Third__module header{
    width: 100%;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem ;    font-family: 'Poppins';
    padding-block-start:5%;
}

.Third__module .provide__article{
    width: 100%;
    color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start:2% ;
    font-size: 4rem;
    font-family: 'Poppins';
}

.Third__module .image_cards{
    /* background: yellowgreen; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 7%;
    gap: 5%;
}

.card{
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    position:relative;
    padding-inline: 1%;

}

.card span{
    /* background: white; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* padding-inline-end: 5%; */

}

.card span div{
    background-color: var(--color-1);
    width: 35px;
    height: 3%;
}

.card div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding-block: 5px 13px;
}

.card div:last-child p:first-child{
    font-size: 2rem;
    font-family: 'Poppins';
}

.card div:last-child p:nth-child(2){
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.card div:last-child small{
    color: var(--color-1);
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-family: 'Poppins';
}

/* ---------------four__section---------- */

.Four__module{
    background: var(--primary-color);
    width: 100%;
    margin-top: 5px;
}

.Four__module header{
    width: 100%;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem ;
    font-family: 'Poppins';
    padding-block-start:5%;
}

.Four__module article{
    width: 100%;
    color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start:2% ;
    font-size: 4rem;
    font-family: 'Poppins';
}

.Four__module .image_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block:5%;
    gap: 5%;

}


.image_cards .cards2{
    display: flex;
    flex-direction: column;
    /* background: yellowgreen; */
    justify-content: center;
    align-items: center;
    width: 20%;

}

.image_cards .cards2 img{
    padding-inline: 10%;
}

.image_cards .cards2 h2{
    color: var(--color-1);
    font-size: 1.7rem;
    font-family: 'Poppins';

}

.image_cards .cards2 p{
    text-align: center;
    font-size: 2.1rem;
    font-family: 'Poppins';
    color: var(--color-3);
    padding-block: 5%;
}



/* -----------------five__section----------------------_ */

.five__section{    
    
    background: var(--primary-color);
    width: 100%;
    margin-top: 5px;
    display: flex;
    padding-block: 10%;

}

.five__section > div{
    background-color:var(--color-2);

    width: 90%;
    height: 50px;
    display: flex;
}




